body{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    min-height: 100vh;
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainPage{
    flex-grow: 1;
}

.btnAgregar{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    border: none;
}

.btnAgregar:hover{
    background-color: #ff84ac;
    background-image: linear-gradient(0deg, #ff84ac 0%, #8cfffd 100%);
    
}


